$brand-blue = #286489
$brand-light-blue = #19A5E6
$brand-amber = #FAAF41
$brand-red = #F06423

$blue = #4C6E8C
$blue-a = #286496

$green = #40AD6C
$green-a = #19C35F

$olive = #8FA350
$olive-a = #96B937

$amber = #EFA41F
$amber-a = #FFB432

$red = #D75032
$red-a = #EB500F

$malt = #9C877B
$malt-a = #917364

$purple = #7A667F
$purple-a = #82648C

$dark-grey = #414141
$dark-grey-a = #232323

$grey = #969696
$grey-a = #787878

$light-grey = #f5f5f5
$light-$grey-a = #e1e1e1

$bg-prominent = #fff
$bg-light = #fafafa
$bg-supp = #f5f5f5

$bg-amber-accent = #FFF7ED
$bg-amber-accent-2 = #F5F0EB
$bg-amber-accent-3 = #F6F5F1

$bg-malt = #E8E4E1

$bg-blue-grey-accent = #E7E8EC

$text-dark-grey = #414141
$text-prominent-grey = #555555
$text-light-grey = #6e6e6e
$text-lighter-grey = #969696
$text-lightest-grey = #D7D7D7
$text-blue-grey = #556E7D
$text-light-blue = #2D7EDA

$text-inverted-prominent = #ffffff
$text-inverted-light = #969696
$text-inverted-lightest = #D7D7D7

$grey-50 = #f0f0f0
$grey-100 = #ebebeb
$grey-200 = #e1e1e1
$grey-300 = #d7d7d7
$grey-400 = #b4b4b4
$grey-500 = #969696
$grey-600 = #6e6e6e
$grey-700 = #555555
$grey-800 = #414141
$grey-900 = #232323

$amber-50 = #FEFBF5
$amber-100 = #FBE8C6
$amber-200 = #F7D497
$amber-300 = #F3C167
$amber-400 = #F1B346
$amber-500 = #EFA41F
$amber-600 = #EB9C0E
$amber-700 = #D1890A
$amber-800 = #BB7A06
$amber-900 = #8F5B00

$blue-50 = #D6DFE8
$blue-100 = #B5C6D6
$blue-200 = #94ADC4
$blue-300 = #7394B1
$blue-400 = #5C83A5
$blue-500 = #4C6E8C
$blue-600 = #436481
$blue-700 = #37546E
$blue-800 = #2C475F
$blue-900 = #182E40
$blue-100a = #BCD9F2
$blue-200a = #84B4DE
$blue-400a = #3278B5
$blue-700a = #286396

$light-blue-50 = #E8F6FC
$light-blue-100 = #BAE4F7
$light-blue-200 = #8DD2F2
$light-blue-300 = #5FC0ED
$light-blue-400 = #3FB3E9
$light-blue-500 = #19A5E6
$light-blue-600 = #1599D6
$light-blue-700 = #1085BC
$light-blue-800 = #0B76A7
$light-blue-900 = #02567D

$green-50 = #DFF3E7
$green-100 = #BAE5CC
$green-200 = #96D7B0
$green-300 = #71C994
$green-400 = #57BF81
$green-500 = #40AD6C
$green-600 = #38A062
$green-700 = #2F8B54
$green-800 = #267B48
$green-900 = #155930
$green-100a = #C9FADD
$green-200a = #89EDB2
$green-400a = #22DA6C
$green-700a = #1CB85B

$red-50 = #FCF4F2
$red-100 = #F4D0C8
$red-200 = #EBAB9D
$red-300 = #E38773
$red-400 = #DD6E55
$red-500 = #D75032
$red-600 = #CF4425
$red-700 = #B73A1F
$red-800 = #A43218
$red-900 = #7E200B
$red-100a = #FFE6E0
$red-200a = #FDA996
$red-400a = #F94720
$red-700a = #EA2F06

$purple-50 = #E7E3E8
$purple-100 = #CFC7D1
$purple-200 = #B7ABBA
$purple-300 = #9F8FA3
$purple-400 = #8E7B93
$purple-500 = #7A667F
$purple-600 = #705B76
$purple-700 = #614C66
$purple-800 = #543F5A
$purple-900 = #3B2540

$colors = {
  "light-blue": $light-blue-500
  "blue": $blue
  "green": $green
  "olive": $olive
  "amber": $amber
  "red": $red
  "malt": $malt
  "purple": $purple
  "b-red": $brand-red
  "b-amber": $brand-amber
  "b-blue": $brand-blue
  "b-light-blue": $brand-light-blue
}

$textColors = {
	"darker": #414141
	"prominent": #555555
	"light": #6e6e6e
	"lighter": #969696
	"lightest": #D7D7D7
	"blue-grey": #556E7D
	"light-blue": #2D7EDA
}
