$font-family = 'Noto San', sans-serif

/* breakpoints */
$screen-lg = 954px
$lg = $screen-lg

$screen-md = 800px
$md = $screen-md

$screen-sm = 600px
$sm = $screen-sm

$xs = 460px

$breakpoints = {
  xs: 0
  sm: $screen-sm
  md: $screen-md
  lg: $screen-lg
}

