// @import './colour.styl'

.dl-label
	display inline-flex
	align-items center
	border-radius 6px
	padding 0 8px
	font-size 12px
	height 20px
	background $grey-100
	&.sm
		height 16px
	&.xs
		height 12px
	&.lg
		height 24px
	&.supp
		background $bg-supp
	&.amber
		color white
		background $amber
