.h100
	height 100%

.w100
	width 100%

.dl-ac
	display flex
	align-items center
	&.jc
		justify-content center

.dl-container
	padding 0 32px
	+screen($xs)
		padding 0 24px

.dl-page-container
	padding 64px 32px 24px
	+screen($xs)
		padding 64px 24px 24px

.flex-cc
	width 100%
	height 100%
	display flex
	align-items center
	justify-content center

.text-align-right
	text-align right

.text-align-left
	text-align left

.text-align-center
	text-align center

.flex
	display flex
	&.wrap
		flex-wrap wrap

.dl-row
	display flex
	margin 0 -8px
	.dl-col
		width 100%
		padding-left 8px
		padding-right 8px

for $size, $width in $breakpoints
	@media all and (min-width: $width)
		for n in (1..12)
			.dl-col.{$size}{n}
				flex-basis: (n / 12 * 100)%
				flex-grow: 0
				max-width: (n / 12 * 100)%
