for i in (0..40)
  .mt-{i}
    margin-top: (i px) !important
  .mr-{i}
    margin-right: (i px) !important
  .mb-{i}
    margin-bottom: (i px) !important
  .ml-{i}
    margin-left: (i px) !important
  .mx-{i}
    margin-left: (i px) !important
    margin-right: (i px) !important
  .my-{i}
    margin-top: (i px) !important
    margin-bottom: (i px) !important

  .pt-{i}
    padding-top: (i px) !important
  .pr-{i}
    padding-right: (i px) !important
  .pb-{i}
    padding-bottom: (i px) !important
  .pl-{i}
    padding-left: (i px) !important
  .px-{i}
    padding-left: (i px) !important
    padding-right: (i px) !important
  .py-{i}
    padding-top: (i px) !important
    padding-bottom: (i px) !important

for i in (0..10)
	.pt-{i}x
		padding-top (i * 8)px !important
	.pb-{i}x
		padding-bottom (i * 8)px !important
	.pl-{i}x
		padding-left (i * 8)px !important
	.pr-{i}x
		padding-right (i * 8)px !important
	.px-{i}x
		padding-left: (i * 8)px !important
		padding-right: (i * 8)px !important
	.py-{i}x
		padding-top: (i * 8)px !important
		padding-bottom: (i * 8)px !important
	.mt-{i}x
		margin-top (i * 8)px !important
	.mb-{i}x
		margin-bottom (i * 8)px !important
	.ml-{i}x
		margin-left (i * 8)px !important
	.mr-{i}x
		margin-right (i * 8)px !important
	.mx-{i}x
		margin-left: (i * 8)px !important
		margin-right: (i * 8)px !important
	.my-{i}x
		margin-top: (i * 8)px !important
		margin-bottom: (i * 8)px !important
